# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# PyInstaller
*.spec
*.exe
icon.ico

# Virtual Environment
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db

# Logs
crash.log
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build
*.manifest
*.pyz
